<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you, <%= @passenger.name %>!</h1>
    <p>
      You have successfully booked the following flight: 
      <%= render @flight %>
    </p>
    <p>
      To search for more flights click <%= link_to("here", @url) %>.
    </p>
    <p>Thanks for flying and have a great day!</p>
  </body>
</html>